# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/taskflow

# JWT
ACCESS_TOKEN_SECRET=replace_with_a_long_random_string
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=replace_with_a_different_long_random_string
REFRESH_TOKEN_EXPIRY=7d

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000
